.DS_Store
node_modules
dist
.vscode
.env
.env.local
.idea
*.log
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tgz
.cache
*.tsbuildinfo
.DS_Store?
Thumbs.db
ehthumbs.db
package-lock.json
package.json