body {
  padding: 0px 120px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

input {
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #a4a6e6;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #a6a4cb;
}

.App > div:last-child button {
  width: auto;
  padding: 12px;
  font-size: 12px;
}

.App > div:last-child button:last-child {
  background-color: #ef4444;
}
